.blog {
  margin-bottom: 48px;
  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;

    @include tablet {
      display: block;
    }
  }

  &__content {
    grid-column: 8 span;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    @include mobile {
      grid-template-columns: 1fr;
      gap: 16px;
    }
    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }

  &__right {
    grid-column: 4 span;

    @include small-tablet {
      position: fixed;
      z-index: 10;
      bottom: var(--container-offset);
      left: var(--container-offset);
      right: var(--container-offset);

      .offer-card {
        position: static;
      }
    }
  }
}
