.cta {
  &__row {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__container {
    background-color: var(--bg-grey);
    border-radius: 24px;
    overflow: hidden;
    display: flex;

    @include small-tablet {
      flex-direction: column-reverse;
    }
  }

  &__left {
    padding: 75px 97px 65px;
    @include tablet {
      padding: 40px 20px;
    }
  }
  &__link {
    @include small-tablet {
      width: 100%;
    }
  }
  &__right {
    padding: 16px;
    border-radius: 24px;
    background-image: url("./../img/snake-purple.svg"),
      linear-gradient(41deg, #5a4dc1 0%, #7778ee 97%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-width: 475px;
    position: relative;

    @include small-tablet {
      max-width: 100%;
      background: none;
      height: auto;
      padding: 0;
      overflow: hidden;
    }
  }

  &__img {
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 105%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include small-tablet {
      position: static;
      transform: none;
      display: block;
      border-radius: 24px;
      width: 100%;
      overflow: hidden;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;

      @include small-tablet {
        height: auto;
        object-fit: cover;
        max-height: 500px;
      }
    }
  }
}
