.faq {
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @include small-tablet {
      display: flex;
      flex-direction: column-reverse;
      gap: 0;
    }
  }
  &__title {
    @include small-tablet {
      text-align: center;
      order: 10;
    }
  }
  &__items {
    @include small-tablet {
      margin-bottom: 32px;
    }
  }
  &__row {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  &__title {
    max-width: 465px;
    @include small-tablet {
      max-width: 100%;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  &__link {
    @include small-tablet {
      width: 100%;
    }
  }
}
