.form-field {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  gap: 5px;
}

.form-agree {
  display: flex;
  align-items: center;
  gap: 16px;
  &__checkbox {
    width: 26px;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    border: 1px solid var(--violet-1);
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &::after {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      background-image: url("./../img/check.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      opacity: 0;
    }
  }
  &__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--vilet-dark);

    a {
      color: inherit;
      text-decoration: underline;
    }
  }

  input:checked ~ .form-agree__checkbox {
    background-color: var(--violet-1);

    &::after {
      opacity: 1;
    }
  }
}

.form-field__input {
  width: 100%;
  height: 60px;
  padding: 20px 16px 10px 16px;
  border: 1px solid #e6e8ec;
  border-radius: 8px;
  background-color: #f8f9fa;
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box;
  transition: all 0.2s ease;
}
.form-field__input[type="tel"] {
  padding-left: 60px;

  & ~ .form-field__label {
    padding-left: 40px;
  }
}
.form-field--focused {
  .form-field__prefix {
    transform: translateY(80%);
    // bottom: 20px;
  }
  .form-field__separator {
    transform: translateY(80%);
  }
  .form-field__input[type="tel"] ~ .form-field__label {
    padding-left: 0;
  }
}
.form-field__input:focus {
  border-color: #7b61ff;
  background-color: #fff;
  outline: none;
}
.form-field__prefix {
  position: absolute;
  left: 16px;
  bottom: 50%;
  transform: translateY(50%);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-gray-1);
  z-index: 2;
  line-height: 1;
  transition: var(--transition-ui-time) var(--transition-ui-ease);
}

.form-field__label {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: var(--text-gray-1);
  pointer-events: none;
  transition: all 0.2s ease;
}

.form-field__input:focus ~ .form-field__label,
.form-field__input:not(:placeholder-shown) ~ .form-field__label {
  top: 8px;
  transform: translateY(0);
  left: 16px;
  font-size: 11px;

  span {
    display: none;
  }
}

.form-field__input::placeholder {
  color: transparent;
}

.form-field--default .form-field__input {
  color: #a0a0a0;
}

.form-field--focused .form-field__input {
  background-color: #fff;
}

.form-field--focused .form-field__label {
  top: 8px;
  font-size: 11px;
  span {
    display: none;
  }
}

.form-field--es .form-field__label {
  font-size: 11px;
}
