.header {
  padding: 18px 0;
  background-color: #fff;
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &--sec {
    background-color: var(--bg-grey);
    border-radius: 0 0 20px 20px;
  }
}
