.page-404 {
  padding: 215px 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include small-tablet {
    padding: 120px 0;
  }
  &__container {
    max-width: calc(530px + var(--container-offset) * 2);
    padding: 0 var(--container-offset);
    margin: 0 auto;
    text-align: center;
  }
  &__img {
    width: 100%;

    margin-bottom: 32px;

    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__title {
    margin-bottom: 16px;
    @include small-tablet {
      margin-bottom: 8px;
    }
  }

  &__desc {
    margin: 0;
    margin-bottom: 32px;
    font-weight: 400;
    @include small-tablet {
      margin-bottom: 24px;
      font-size: 14px;
    }
  }

  &__btn {
    padding: 15px 65px;
    @include small-tablet {
      font-size: 12px;
    }
  }
}
