.req {
  &__container {
    background-color: var(--bg-grey);
    padding: 36px 97px;
    border-radius: 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @include tablet {
      padding: 20px;
      flex-direction: column-reverse;
      gap: 0;
    }
  }
  &__title {
    @include tablet {
      order: 10;
    }
    @include mobile {
      text-align: left;
    }
  }
  &__left {
    width: 100%;
    max-width: 300px;
    @include tablet {
      max-width: 100%;
    }
  }

  &__right {
    width: 100%;
    max-width: 460px;
    @include tablet {
      max-width: 100%;
    }
  }
  &__btn {
    width: 100%;
  }
  &__items {
    @include tablet {
      margin-bottom: 32px;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.req-item {
  padding: 24px;
  border-radius: 16px;
  background-color: var(--white);

  &__title {
    font-weight: 700;
    line-height: 1.2;
  }
}
