.testi-add {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  padding: 24px;
  border-radius: 24px;
  background: var(--bg-grey);
  @include mobile {
    flex-wrap: wrap;
  }
  &__title {
    margin-bottom: 12px;
    @include mobile {
      font-size: 20px;
    }
  }

  .rating-container {
    display: flex;
    align-items: center;
    gap: 8px;

    .rating-value {
      font-weight: 700;
      font-size: 24px;
      line-height: 120%;
      color: var(--text-black);
    }
    .rating-fill {
      color: var(--orange-2);
    }
  }

  &__btn {
    padding: 15px 70px;

    @include tablet {
      padding-right: 40px;
      padding-left: 40px;
    }
    @include mobile {
      width: 100%;
    }
  }
}
