<div class="breadcrumbs">
  <div class="container">
    <span>
      <span>
        <a href="./">Главная</a>
      </span>
      <span> Блог </span>
    </span>
  </div>
</div>
<section class="blog">
  <div class="container">
    <h1 class="headline-2 blog__title mb24">Блог</h1>
    <div class="blog__container">
      <div class="blog__content">
        <div class="blog__items">
          <article class="blog__item blog-item">
            <div class="blog-item__img">
              <img src="./img/blog/01.webp" alt="" />
            </div>
            <div class="blog-item__info">
              <ul class="blog-item__taxes list-reset">
                <li class="blog-item__tax">
                  <a href="#">Финансы</a>
                </li>
              </ul>
              <h5 class="blog-item__title">
                <a href="#">
                  Потребительские кредиты — их преимущества и недостатки в три
                  строки
                </a>
              </h5>
              <div class="blog-item__bottom body-s">
                <time datetime="27 января" class="blog-item__time"
                  >27 января</time
                >
                <small class="blog-item__views">
                  <svg class="">
                    <use xlink:href="img/sprite.svg#eye"></use>
                  </svg>
                  295
                </small>
              </div>
            </div>
          </article>
          <article class="blog__item blog-item">
            <div class="blog-item__img">
              <img src="./img/blog/02.webp" alt="" />
            </div>
            <div class="blog-item__info">
              <ul class="blog-item__taxes list-reset">
                <li class="blog-item__tax">
                  <a href="#">Финансы</a>
                </li>
              </ul>
              <h5 class="blog-item__title">
                <a href="#">
                  Потребительские кредиты — их преимущества и недостатки в три
                  строки
                </a>
              </h5>
              <div class="blog-item__bottom body-s">
                <time datetime="27 января" class="blog-item__time"
                  >27 января</time
                >
                <small class="blog-item__views">
                  <svg class="">
                    <use xlink:href="img/sprite.svg#eye"></use>
                  </svg>
                  295
                </small>
              </div>
            </div>
          </article>
          <article class="blog__item blog-item">
            <div class="blog-item__img">
              <img src="./img/blog/03.webp" alt="" />
            </div>
            <div class="blog-item__info">
              <ul class="blog-item__taxes list-reset">
                <li class="blog-item__tax">
                  <a href="#">Финансы</a>
                </li>
              </ul>
              <h5 class="blog-item__title">
                <a href="#">
                  Потребительские кредиты — их преимущества и недостатки в три
                  строки
                </a>
              </h5>
              <div class="blog-item__bottom body-s">
                <time datetime="27 января" class="blog-item__time"
                  >27 января</time
                >
                <small class="blog-item__views">
                  <svg class="">
                    <use xlink:href="img/sprite.svg#eye"></use>
                  </svg>
                  295
                </small>
              </div>
            </div>
          </article>
          <article class="blog__item blog-item">
            <div class="blog-item__img">
              <img src="./img/blog/04.webp" alt="" />
            </div>
            <div class="blog-item__info">
              <ul class="blog-item__taxes list-reset">
                <li class="blog-item__tax">
                  <a href="#">Финансы</a>
                </li>
              </ul>
              <h5 class="blog-item__title">
                <a href="#">
                  Потребительские кредиты — их преимущества и недостатки в три
                  строки
                </a>
              </h5>
              <div class="blog-item__bottom body-s">
                <time datetime="27 января" class="blog-item__time"
                  >27 января</time
                >
                <small class="blog-item__views">
                  <svg class="">
                    <use xlink:href="img/sprite.svg#eye"></use>
                  </svg>
                  295
                </small>
              </div>
            </div>
          </article>
          <article class="blog__item blog-item">
            <div class="blog-item__img">
              <img src="./img/blog/05.webp" alt="" />
            </div>
            <div class="blog-item__info">
              <ul class="blog-item__taxes list-reset">
                <li class="blog-item__tax">
                  <a href="#">Финансы</a>
                </li>
              </ul>
              <h5 class="blog-item__title">
                <a href="#">
                  Потребительские кредиты — их преимущества и недостатки в три
                  строки
                </a>
              </h5>
              <div class="blog-item__bottom body-s">
                <time datetime="27 января" class="blog-item__time"
                  >27 января</time
                >
                <small class="blog-item__views">
                  <svg class="">
                    <use xlink:href="img/sprite.svg#eye"></use>
                  </svg>
                  295
                </small>
              </div>
            </div>
          </article>
          <article class="blog__item blog-item">
            <div class="blog-item__img">
              <img src="./img/blog/06.webp" alt="" />
            </div>
            <div class="blog-item__info">
              <ul class="blog-item__taxes list-reset">
                <li class="blog-item__tax">
                  <a href="#">Финансы</a>
                </li>
              </ul>
              <h5 class="blog-item__title">
                <a href="#">
                  Потребительские кредиты — их преимущества и недостатки в три
                  строки
                </a>
              </h5>
              <div class="blog-item__bottom body-s">
                <time datetime="27 января" class="blog-item__time"
                  >27 января</time
                >
                <small class="blog-item__views">
                  <svg class="">
                    <use xlink:href="img/sprite.svg#eye"></use>
                  </svg>
                  295
                </small>
              </div>
            </div>
          </article>
        </div>
        <div class="pagination mb48">
          <ul>
            <li>
              <a href="#">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M15 18L9 12L15 6"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                Назад
              </a>
            </li>

            <li>
              <a href="#">1</a>
            </li>
            <li class="active">
              <a href="#">2</a>
            </li>
            <li>
              <a href="#">3</a>
            </li>
            <li>
              <a href="#">4</a>
            </li>
            <li>
              <a href="#">5</a>
            </li>
            <li>
              <a href="#">6</a>
            </li>
            <li>
              <a href="#">...</a>
            </li>
            <li>
              <a href="#">
                Вперед
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9 18L15 12L9 6"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </a>
            </li>
          </ul>
        </div>
        @include('./vigoda.html')
      </div>

      <div class="blog__right">
        <div class="offer-card">
          <div class="offer-card__img">
            <img src="./img/showcase/01.svg" alt="" />
          </div>
          <div class="offer-card__text">Vivus.com.mx</div>
          <a href="#" class="btn btn--sec btn--medium offer-card__btn"
            >Получить деньги</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
