<section class="get-credit mb64">
  <div class="container">
    <h2 class="headline-2 mb32">Получите кредит в 3 простых шага</h2>

    <div class="get-credit__items">
      <div class="get-credit__item get-item">
        <div>
          <div class="get-item__title mb8 button-18">
            Зарегистрируйтесь сначала орпопрп
          </div>
          <p class="body-1 get-item__text">
            Заполните небольшую форму, это не займет у вас более 2 минут.
          </p>
        </div>
      </div>
      <div class="get-credit__item get-item">
        <div>
          <div class="get-item__title mb8 button-18">
            Оставьте заявку на получение кредита
          </div>
          <p class="body-1 get-item__text">
            Вы можете подать заявку на кредит в несколько организаций
            одновременно
          </p>
        </div>
      </div>
      <div class="get-credit__item get-item">
        <div>
          <div class="get-item__title mb8 button-18">
            Получите деньги на свою банковскую карту
          </div>
          <p class="body-1 get-item__text">
            Как только запрос будет одобрен, деньги будут немедленно отправлены
            на ваш счет.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
