<section class="req mb64 mob-mb48">
  <div class="container">
    <div class="req__container">
      <h2 class="headline-2 req__title tablet-enable centered mb32">
        Минимальные требования для запроса онлайн
      </h2>
      <div class="req__left">
        <h2 class="headline-2 req__title tablet-disable mb32">
          Минимальные требования для запроса онлайн
        </h2>
        <a href="#" class="btn btn--primary btn--medium req__btn">
          Получить деньги
        </a>
      </div>
      <div class="req__right">
        <div class="req__items">
          <div class="req__item req-item">
            <div class="req-item__title mb16 headline-5">
              Подтверждение адреса
            </div>
            <p class="body-1 before before--house">
              Заполните небольшую форму, это не займет у вас более 2 минут.
            </p>
          </div>
          <div class="req__item req-item">
            <div class="req-item__title mb16 headline-5">
              Подтверждение дохода
            </div>
            <p class="body-1 before before--coins">
              Заполните небольшую форму, это не займет у вас более 2 минут.
            </p>
            <p class="body-1 before before--coins">
              Заполните небольшую форму, это не займет у вас более 2 минут.
            </p>
          </div>
          <div class="req__item req-item">
            <div class="req-item__title mb16 headline-5">
              Официальный идентификатор в две строки
            </div>
            <p class="body-1 before before--list">
              Заполните небольшую форму, это не займет у вас более 2 минут.
            </p>
            <p class="body-1 before before--list">
              Заполните небольшую форму, это не займет у вас более 2 минут.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
