<div class="offer-hero__offers oh-offers mb48">
  <h3 class="offer-hero__subtitle mb24">Самые выгодные предложения для вас</h3>
  <div class="oh-offers__items">
    <div class="showcase-item">
      <div class="showcase-item__top">100% онлайн</div>
      <div class="showcase-item__body">
        <div class="showcase-item__row mb24">
          <div class="showcase-item__logo">
            <img src="./img/showcase/01.svg" alt="" />
          </div>
        </div>
        <ul class="list-reset showcase-item__list mb24">
          <li class="showcase-item__row">
            Сумма
            <span>До $20,000</span>
          </li>
          <li class="showcase-item__row">
            Период
            <span>До 30 дней</span>
          </li>
          <li class="showcase-item__row">
            Одобрение
            <span>97%</span>
          </li>
        </ul>
        <div class="showcase-item__buttons">
          <button class="btn btn--stroke showcase-item__info">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M12 16V12"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M12 8H12.01"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            Информация
          </button>
          <a href="#" class="btn btn--primary showcase-item__btn"
            >Получить деньги</a
          >
        </div>
      </div>
    </div>
    <div class="showcase-item">
      <div class="showcase-item__top">100% онлайн</div>
      <div class="showcase-item__body">
        <div class="showcase-item__row mb24">
          <div class="showcase-item__logo">
            <img src="./img/showcase/01.svg" alt="" />
          </div>
        </div>
        <ul class="list-reset showcase-item__list mb24">
          <li class="showcase-item__row">
            Сумма
            <span>До $20,000</span>
          </li>
          <li class="showcase-item__row">
            Период
            <span>До 30 дней</span>
          </li>
          <li class="showcase-item__row">
            Одобрение
            <span>97%</span>
          </li>
        </ul>
        <div class="showcase-item__buttons">
          <button class="btn btn--stroke showcase-item__info">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M12 16V12"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M12 8H12.01"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            Информация
          </button>
          <a href="#" class="btn btn--primary showcase-item__btn"
            >Получить деньги</a
          >
        </div>
      </div>
    </div>
    <div class="showcase-item">
      <div class="showcase-item__top">100% онлайн</div>
      <div class="showcase-item__body">
        <div class="showcase-item__row mb24">
          <div class="showcase-item__logo">
            <img src="./img/showcase/01.svg" alt="" />
          </div>
        </div>
        <ul class="list-reset showcase-item__list mb24">
          <li class="showcase-item__row">
            Сумма
            <span>До $20,000</span>
          </li>
          <li class="showcase-item__row">
            Период
            <span>До 30 дней</span>
          </li>
          <li class="showcase-item__row">
            Одобрение
            <span>97%</span>
          </li>
        </ul>
        <div class="showcase-item__buttons">
          <button class="btn btn--stroke showcase-item__info">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M12 16V12"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M12 8H12.01"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            Информация
          </button>
          <a href="#" class="btn btn--primary showcase-item__btn"
            >Получить деньги</a
          >
        </div>
      </div>
    </div>
    <div class="showcase-item">
      <div class="showcase-item__top">100% онлайн</div>
      <div class="showcase-item__body">
        <div class="showcase-item__row mb24">
          <div class="showcase-item__logo">
            <img src="./img/showcase/01.svg" alt="" />
          </div>
        </div>
        <ul class="list-reset showcase-item__list mb24">
          <li class="showcase-item__row">
            Сумма
            <span>До $20,000</span>
          </li>
          <li class="showcase-item__row">
            Период
            <span>До 30 дней</span>
          </li>
          <li class="showcase-item__row">
            Одобрение
            <span>97%</span>
          </li>
        </ul>
        <div class="showcase-item__buttons">
          <button class="btn btn--stroke showcase-item__info">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M12 16V12"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M12 8H12.01"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            Информация
          </button>
          <a href="#" class="btn btn--primary showcase-item__btn"
            >Получить деньги</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
