:root {
  --font-family: "Manrope", sans-serif;
  --second-family: "Montserrat", sans-serif;
  --third-family: "Inter", sans-serif;
  --font3: "Nunito Sans", sans-serif;
  --font4: "Arial", sans-serif;
  --font5: "MuseoModerno", sans-serif;
  --content-width: 1140px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  --white: #fff;
  --light: #f3f1fb;
  --violet-light: #e1e1ff;
  --violet-1: #6a47f7;
  --violet-2: #5b56bd;
  --vilet-dark: #3e348b;
  --orange-1: #f35b05;
  --orange-2: #f28801;
  --yellow: #f8b801;
  --error: #f02648;
  --succes: #17b452;
  --text-black: #212121;
  --text-gray: #8a8894;
  --text-light-gray: #c9c8d3;
  --text-gray-1: #89859d;
  --text-light-grey: #e3e2ed;
  --text-disabled: #c5c0db;
  --bg-grey: #eff2f9;

  --transition-ui-time: 0.3s;
  --transition-ui-ease: ease;
}
h1,
.headline-1 {
  margin: 0;
  font-size: 44px;
  line-height: 1.2;
  font-weight: 700;
  color: var(--text-black);
  &--white {
    color: var(--white);
  }
}

h2,
.headline-2 {
  margin: 0;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 700;
  color: var(--text-black);
  &--white {
    color: var(--white);
  }
}

h3,
.headline-3 {
  margin: 0;
  font-size: 28px;
  line-height: 1.3;
  font-weight: 600;
  color: var(--text-black);
  &--white {
    color: var(--white);
  }
}

h4,
.headline-4 {
  margin: 0;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 600;
  color: var(--text-black);
  &--white {
    color: var(--white);
  }
}

h5,
.headline-5 {
  margin: 0;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 600;
  color: var(--text-black);
  &--white {
    color: var(--white);
  }
}

h6,
.headline-6 {
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 600;
  color: var(--text-black);
  &--white {
    color: var(--white);
  }
}

.subtitle-1 {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--text-black);
  &--white {
    color: var(--white);
  }
}

.subtitle-2 {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--text-black);
  &--white {
    color: var(--white);
  }
}

.body-1 {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-black);
  &--white {
    color: var(--white);
  }
}

.body-2 {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-black);
  &--white {
    color: var(--white);
  }
}
.body-s {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-black);
  &--white {
    color: var(--white);
  }
}

.body-xs {
  margin: 0;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-black);
  &--white {
    color: var(--white);
  }
}
.button-18 {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-black);
  &--white {
    color: var(--white);
  }
}
.text-1 {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-black);
  &--white {
    color: var(--white);
  }
}

.text-2 {
  margin: 0;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-black);
  &--white {
    color: var(--white);
  }
}

.btn {
  border: none;
  padding: 0;
  cursor: pointer;

  display: inline-flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border-radius: 12px;

  background-size: 100% 100%;
  padding: 12px 32px;

  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  color: var(--white);

  transition: var(--transition-ui-time) var(--transition-ui-ease);
  svg {
    fill: none;
    stroke: currentColor;
    stroke-width: 1.5px;
    width: 24px;
    height: 24px;
  }
  &--medium {
    padding: 15px 37px;
    font-size: 14px;
  }

  &--big {
    padding: 21px 26px;
    font-size: 16px;
  }
}
.btn--primary {
  background-image: linear-gradient(90deg, #f28801 0%, #eb6317 100%);
  @media (any-hover: hover) {
    &:hover {
      background-image: linear-gradient(
        to right,
        var(--orange-1),
        var(--orange-1)
      );
    }
  }
}

.btn--sec {
  background-image: linear-gradient(90deg, #7778ee 0%, #9747ff 100%);
  @media (any-hover: hover) {
    &:hover {
      background-image: linear-gradient(
        to right,
        var(--violet-1),
        var(--violet-1)
      );
    }
  }
}

.btn--stroke {
  background-image: none;
  background-color: #fff;
  border: 1px solid var(--violet-2);
  color: var(--violet-2);

  @media (any-hover: hover) {
    &:hover {
      color: var(--white);
      background-color: var(--violet-1);
    }
  }
}
.btn--blue {
  background-image: none;
  background-color: #008ad7;
  @media (any-hover: hover) {
    &:hover {
      color: var(--white);
      background-color: #0177b6;
    }
  }
}
.btn--money {
  box-shadow: 0 4px 4px -4px rgba(12, 12, 13, 0.05),
    0 16px 32px -4px rgba(12, 12, 13, 0.1);
  background-image: linear-gradient(145deg, #f8d301 0%, #f8b801 100%);
  color: var(--text-black);
  @media (any-hover: hover) {
    &:hover {
      background-image: linear-gradient(to right, #f4bc1a, #f4bc1a);
    }
  }

  position: relative;
  padding-right: 106px;
  padding-left: 42px;
  &::after {
    content: "";
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    width: 76px;
    aspect-ratio: 1 / 1;

    background-image: url("./../img/money.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &.btn--big {
    padding-right: 120px;
    padding-left: 18px;
    &::after {
      width: 85px;
    }
  }
}

.btn-square {
  border: none;
  padding: 0;
  cursor: pointer;

  width: 48px;
  aspect-ratio: 1 / 1;
  border: 0.83px solid var(--violet-1);
  border-radius: 12px;
  padding: 8px;
  background-color: var(--white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--violet-1);
  transition: var(--transition-ui-time) var(--transition-ui-ease);

  svg {
    display: block;
    width: 18px;
    aspect-ratio: 1 / 1;
    fill: none;
    stroke: currentColor;
  }

  @media (any-hover: hover) {
    &:hover {
      color: var(--white);
      background-color: var(--violet-1);
    }
  }
}

.logo {
  display: block;
  width: 204px;
  height: 28px;
  @media (max-width: 576px) {
    width: 160px;
    height: 22px;
  }
  svg,
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.link-soc {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 100%;

  font-family: var(--third-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);

  svg {
    width: 20px;
    height: 20px;
    fill: var(--white);
  }

  &--tg {
    background-color: #09e;
  }

  &--whatsapp {
    background-color: #24cc63;
  }

  &--full {
    padding: 20px 56px;
    height: unset;
    width: unset;
    border-radius: 12px;
    svg {
      width: 24px;
      height: 24px;
    }
  }
}

.before {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  &::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--house {
    &::before {
      background-image: url("./../img/req/01.svg");
    }
  }
  &--coins {
    &::before {
      background-image: url("./../img/req/02.svg");
    }
  }
  &--list {
    &::before {
      background-image: url("./../img/req/03.svg");
    }
  }
}

.breadcrumbs {
  padding: 24px 0;
  span {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: right;
    color: var(--text-gray-1);

    a {
      color: inherit;
    }
    & > span {
      display: flex;
      align-items: center;
      &:not(:last-child) {
        &::after {
          content: "";
          display: block;
          width: 24px;
          height: 24px;
          background-image: url("./../img/arr-right.svg");
          background-size: 40% 40%;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }
}
